@font-face {
  font-family: orbitron;
  src: url(/fonts/Orbitron-VariableFont_wght.ttf);
}

body {
  background-color: #7a86d4;
}

h1 {
  font-family: orbitron;
  font-size: 50px;
}

nav {
  display: flex;
  justify-content: center;
}

main {
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  background-image: url(/images/digital-camera.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  height: 90vh;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  /* position: relative; */
  overflow: hidden;
  height: 65%;
  width: 29%;
  transform: translateX(90%);
  margin-top: 5%;
  /* border: 2px solid hotpink; */
}

.slide-container {
  /* border: 2px solid hotpink; */
  /* height: 60vh; */
  /* width: 58%; */
  display: flex;
  overflow: hidden;
  border-radius: 5%;
  margin-top: 0;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  height: 5rem;
  background-color: #a5c1dfa8;
  width: 2rem;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  align-self: center;
}

#arrow-prev {
  left: 0;
}

#arrow-next {
  right: 0;
}

.images:nth-of-type(4) {
  width: 100%;
}

@media screen and (max-width: 1024px) {

  main {
    background-size: 100%;
  }

  .slider-wrapper {
    /* border: 2px solid rebeccapurple; */
    height: 49%;
    margin-top: 7%;
    width: 45%;
    transform: translateX(30%);
  }
}